@{
	ViewBag.Title = "Notifications History";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
	<!-- Vendor JS -->
	<script src="~/Scripts/CommonMethod.js"></script>
	<script src="~/Angular/NotificationsManager.js"></script>
}

<div class="box box-block bg-white" ng-controller="NotificationsManagerController" id="DivItems">

	<div class="row">
		<div class="col-xs-12 form-group">
			<label>Search</label>
			<input type="text" class="form-control" ng-model="notification.Search" ng-change="SearchNotifications()" name="name" value="" />
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<table id="tblNotifications" class="table" style="width:100% !important;margin-top:-11px !important;">
				<thead class="thead-inverse">
					<tr>
						<th>Timestamp</th>
						<th>Title</th>
						<th>Description</th>
						@*<th></th>*@
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@*<div id="detailsModal" data-keyboard="false" data-backdrop="static" class="modal animated bounceInUp large-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@