@{
    ViewBag.Title = "Masjiday - Reset password confirmation";
    Layout = "~/Views/Shared/_UnAuthorized.cshtml";
}

<div class="auth">
    <div class="auth-header" style="padding-bottom: 4rem">
        <img src="~/img/logo/logo.png" style="height:150px; margin-bottom:25px;" />
        <h6>Password Reset Confirmation</h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </div>
    </div>
</div>
