@{
    ViewBag.Title = "Registered Masajid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <!-- Vendor JS -->
    <script src="~/Scripts/CommonMethod.js"></script>
    <script src="~/Angular/MasajidManager.js"></script>

    <script type="text/javascript">
        //Bind event to hide/show file upload alert
        $(document).on("change", "input:file", function (e) {
            var parent = $(this).parents(".file-upload-control").first();
            var fileName = $(this).val().split("\\")[$(this).val().split("\\").length - 1];

            parent.find("span.has-success > span.form-control-feedback").text(fileName);
            parent.find("span.has-success > span.form-control-feedback").show();
            //parent.find("span.has-danger > span.form-control-feedback").hide();
            //parent.find("input[type=hidden]").val(fileName);

        });
    </script>
}

<div class="box box-block bg-white" ng-controller="MasajidManagerController" id="DivItems">

    @if (TempData["Message"] != null)
    {
        <div class="row">
            <div class="col-xs-12">
                @if (TempData["Message"].ToString().ToLower().Contains("failed"))
                {
                    <div class="alert alert-danger-outline alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>@TempData["Message"].ToString()</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-success-outline alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>@TempData["Message"].ToString()</strong>
                    </div>
                }
            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-10 form-group" ">
            <input type="text" placeholder="Search by masjid name" class="form-control" ng-model="masajid.Search" ng-change="SearchMasajid()" name="name" value="" />
        </div>
        <div class="col-xs-2">
            <button ng-click="AddMasjid()" type="button" class="btn btn-black">Add Masjid</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="tblMasajid" class="table" style="width:100% !important;margin-top:-11px !important;">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Offset</th>
                        <th>Fajar</th>
                        <th>Zohar</th>
                        <th>Asar</th>
                        <th>Magrib</th>
                        <th>Isha</th>
                        <th>Juma</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="detailsModal" data-keyboard="false" data-backdrop="static" class="modal animated bounceInUp large-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
