.site-header .navbar {
    background-color: #000 !important;
}

.large-sidebar .site-header .navbar {
    margin-left: 0 !important;
}

.p-y-1 {
    padding-left: 150px !important;
    padding-right: 150px !important;
}

@media (min-width: 992px) {

    .large-sidebar .site-content {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
