<appSettings>
  
  <!--<add key="SendInBlueAPIKey" value="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"/>
  
  <add key="SMSDisplayName" value="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"/>

  <add key="WelcomeEmailSubject" value="Welcome to Afri Deliveries !!" />
  <add key="SupportFromEmailAddress" value="support@afrideliveries.website" />
  <add key="SupportFromDisplayName" value="Afri Deliviries Support" />

  <add key="NotificationsFromEmailAddress" value="sales@afrideliveries.website" />
  <add key="NotificationsFromDisplayName" value="Afri Deliviries" />
  <add key="NotificationsEmailSubject" value="Hurrah, we got something for you !!" />

  <add key="AddRiderEmailSubject" value="Welcome to AfriDeliveries !!" />
  <add key="AddRiderFromEmailAddress" value="admin@afrideliveries.website" />
  <add key="AddRiderFromDisplayName" value="Afri Deliviries" />
  
  <add key="ForgetPasswordEmailSubject" value="Welcome to Afri Deliveries !!" />

  <add key="PushNotificationTitle" value="Catch Up !!" />

  <add key="RiderConfirmationUrl" value="https://afrideliveries.website/" />

  <add key="AdminUrl" value="https://admin.afrideliveries.website/" />
  <add key="ResturantUrl" value="https://hotel.afrideliveries.website/" />-->
  <add key="LogoURL" value="~/img/logo/logo.png" />
  
</appSettings>