<connectionStrings>
	<add name="masjidayEntities" 
		 connectionString="metadata=res://*/MasjidayModel.csdl|res://*/MasjidayModel.ssdl|res://*/MasjidayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.219.233.61;initial catalog=masjiday;persist security info=True;user id=dba-masjiday;password=9Vxx~6v60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="DefaultConnection" connectionString="Data Source=104.219.233.61;initial catalog=masjiday;persist security info=True;user id=dba-masjiday;password=9Vxx~6v60;"
		  providerName="System.Data.SqlClient" />
</connectionStrings>